body {
  margin: 2px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background-image: url('https://github.com/IgorKob/git/blob/master/CV/mars.jpg?raw=true');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
body::after {
  content: "";
  display: block;
  position: fixed;
  width: 100%; 
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  background: rgba(255, 255, 255, .4);   
}